* {
	transition: all 0.125s ease-in-out;
}

body {
	margin: 0;
	font-family: "Roboto";
	background-color: #ECECEC;
	cursor: default;
	user-select: none;
  font-size: 16pt;
   background-image: url("blackbg.jpg");
}

#top {
	position: absolute;
	width: calc(100% - 50px);
	height: 100px;
	background-color: #4285F4;
	padding: 25px;
	cursor: pointer;
}

#card {
	top: 85px;
	margin-bottom: 85px;
	padding-top: 25px;
}

#card,
input {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;
	background-color: #FAFAFA;
	color: #737373;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input {
	border: none;
	top: 150px;
	height: 40px;
	line-height: 40px;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	font-family: "Roboto";
}

input:focus {
	outline-style: none;	
}

hr {
    border: none;
    height: 1px;
    background-color: #E1E1E1;
    margin-left: -25px;
    margin-right: -25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

p {
	line-height: 1.75;
}


#card a {
	color: #737373;
}

#top a {
	color: rgba(0, 0, 0, 0.6);
}

.words {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

.textRecognition {
  border: 2px solid gray;
  width: 400px;
  height: 400px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.textAI {
  border: 2px solid gray;
  width: 400px;
  height: 400px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.textAI:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.textRecognition:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: -50px;
}


.robotFemale {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 50;
  /* border: 2px solid green; */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  float: right !important;
  clip: rect(0px,300px,700px,0px);
  width: 450px;
  height: 500px;
}

.font {
  color:	#D3D3D3;
  margin-top: .5em;
  justify-content: center;
  text-align: center;
}


h2,p{
  font-size:100%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li a{
  position: absolute;
  /* border: 2px solid red; */
  margin-left: -4em;
  margin-top: -6.5em;
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:25em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

ul li{
  margin:1em;
  float:left;
}
ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}

.fontsticky{
  font-size: 12pt!important;
}